.debug {
    border: 2px dotted red !important;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #fbfbfb;
}

p a {
    text-decoration: underline;
}

p, li {
    color: #485C70;
}

p a.btn {
    text-decoration: none;
}

.brand.logo a {
    text-decoration: none;
}

.navbar {
    background-color: #1A334C;

}

.navbar .navbar-inner {
    padding-left: 0;
    padding-right: 0;
}

.navbar .nav li a {
    padding: 24.2857142855px 17px 24.2857142855px;
    color: #A3ADB7;
    text-decoration: none;
    text-shadow: 0 1px 0 #f2f2f2;
}

.navbar .nav li a:hover {
    color: #E8EBED;
}

.navbar .nav li a {
    text-shadow: none;
    color: #ddd;
}

.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
    color: #E8EBED;
    text-decoration: none;
    background-color: #31475E;
    -webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
    -moz-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
}

.navbar-oms {
    -webkit-box-shadow: 0 2px 10px #1A334C;
    box-shadow: 0 2px 15px #1A334C;
    border-bottom: 1px solid #15293D;
}

.nav-underline {
    height: 6px;
    background-color: #71afc0;
}

.nav-login li a {
    color: white;
    padding: 10px 15px 10px;
}

.navbar .brand {
    margin-left: 0px;
    float: left;
    display: block;
}

.navbar-inner {
    min-height: 70px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #ededed;
    background-image: -moz-linear-gradient(top, #f2f2f2, #e5e5e5);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f2f2f2), to(#e5e5e5));
    background-image: -webkit-linear-gradient(top, #f2f2f2, #e5e5e5);
    background-image: -o-linear-gradient(top, #f2f2f2, #e5e5e5);
    background-image: linear-gradient(to bottom, #f2f2f2, #e5e5e5);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff2f2f2', endColorstr='#ffe5e5e5', GradientType=0);
    border: 1px solid #c7c7c7;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
}

.brand.logo a {
    color: white;
}

.inline-icon {
    margin-bottom: 6px;
}

.row {
    margin-top: 15px;
    margin-bottom: 15px;
}

div[class*='span'] {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.box {
    padding: 30px;
    background-color: white;
    margin-top: 8px;
}

.paper {
    background-color: white;
    padding-top: 30px;
    padding-bottom: 30px;
}

.copy-headline {
    margin-top: 0;
}

.box h1,
.box h2,
.box h3,
.box h4 {
    margin-top: -5px;
}

.nested {
    padding: 30px;
}

.box.div {
    padding: 30px;
}

span.read-more {
    margin-left: 15px;
    white-space: nowrap;
}

.forcetopalign {
    margin-top: 15px !important;
}

.forcetopmargin {
    margin-top: 23px !important;
}

.forceleftalign {
    margin-left: 15px !important;
}

.forceleftmargin {
    margin-left: 21px !important;
}

.textcenter {
    text-align: center;
}

.textright {
    text-align: right;
}

.textsmaller {
    font-size: 12px;
}

.modal-backdrop {
    opacity: 0.4;
}

/* generic page copy styles */
.copy-headline h1 {
    font-size: 21px;
}

#fork-us {
    font-size: 10px;
    display: block;
    line-height: 2.5;
    background: rgb(125, 146, 168); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(125, 146, 168, 1) 35%, rgba(60, 92, 124, 1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(35%, rgba(125, 146, 168, 1)), color-stop(100%, rgba(60, 92, 124, 1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(125, 146, 168, 1) 35%, rgba(60, 92, 124, 1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(125, 146, 168, 1) 35%, rgba(60, 92, 124, 1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(125, 146, 168, 1) 35%, rgba(60, 92, 124, 1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(125, 146, 168, 1) 35%, rgba(60, 92, 124, 1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7d92a8', endColorstr='#3c5c7c', GradientType=0); /* IE6-9 */
    border: 1px solid #1A334C;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset rgba(255, 255, 255, 0.17) 0 1px 1px;
    -moz-box-shadow: inset rgba(255, 255, 255, 0.17) 0 1px 1px;
    box-shadow: inset rgba(255, 255, 255, 0.17) 0 1px 1px;
    margin-top: 8px;
}

#fork-us a {
    color: #f6f6f6;
    padding: 8px;
}

/* =======================
   Titlebar
======================= */
.titlebar {
    background-color: #264a6e;
    margin-top: 55px;
    /*margin-bottom: 20px;*/
    height: 65px;
    color: #f6f6f6;
    padding-top: 8px;
    -webkit-box-shadow: 0 2px 15px #1A334C;
    box-shadow: 0 2px 15px #1A334C;
    border: 1px solid #264a6e;

}

.titlebar h1 {
    color: #A8B7C5;
    font-size: 20px;
    line-height: 1;
    font-weight: 400;
}

/* =======================
   Sticky footer
======================= */
html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */

}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
}

#footer {
    background: #264a6e;
    box-shadow: 0 0 3px #C0C0C0;

}

#footer p {
    color: #A3ADB7;
}

#footer p a {
    color: #D1D6DB;
}

#footer .footer .ligaturesymbols {
    font-size: 30px;
    color: #f6f6f6;
}

#footer .footer .ligaturesymbols a {
    color: #f6f6f6;
}

/* =======================
   Social footer
======================= */
.social {
    margin-left: 0px;
    margin-top: 15px;
}

.social .twitter,
.social .github,
.social .googleplus {
    background: url("https://www.docker.io/static/img/footer-links.png") no-repeat transparent;
    display: inline-block;
    height: 35px;
    overflow: hidden;
    text-indent: 9999px;
    width: 35px;
    margin-right: 10px;
}

.social .twitter {
    background-position: 0 2px;
}

.social .github {
    background-position: -59px 2px;
}

form table th {
    vertical-align: top;
    text-align: right;
    white-space: nowrap;
}

form .labeldd label {
    font-weight: bold;
}

form .helptext {
    font-size: 12px;
    margin-top: -4px;
    margin-bottom: 10px;
}

form .fielddd input {
    width: 250px;
}

form .error {
    color: #a30000;
}

div.alert.alert-block {
    margin-bottom: 15px;
}

/* ======================= =======================
  Documentation
========================= ========================= */

.sidebar {
    font-weight: normal;
    /* float: left;*/
    background: rgba(26, 51, 76, 0.15);
    position: relative;
    border: 1px solid #dddddd;
}

.sidebar ul {
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    font-size: 14px;
    list-style-type: none;
    padding: 0;
    border-bottom: 1px solid #f6f6f6;
    margin-top: 1px;
}

.sidebar ul li a {
    display: inline-block;
    color: #1F3D5C;
    padding: 12px 8px 10px 20px;
}

.sidebar ul li a {
   text-decoration: none;
}

.sidebar ul li a.trigger-collapse {
    position: absolute;
    right: 10px;
    text-decoration: none;
    font-size: 1.4em;
    color: rgba(31, 61, 92, 0.7);

}

.sidebar ul li.open a.trigger-collapse {
    -webkit-transform:rotate(90deg) translate(-5px,-7px);
    transform:rotate(90deg) translate(-5px,-7px);
    -webkit-transition: rotate 0.3s linear;
    transition: rotate 0.3s linear;
}

.sidebar ul li .toctree-l1 .current {
    font-weight: bold;
}


.sidebar ul li .toctree-l2  {
    background: #f6f6f6;
}

.sidebar ul li .toctree-l2:hover {
    background: #F1F3F6;
}

.sidebar ul li .toctree-l2 .current {
    font-weight: bold;
    color: #1A334C;
}

.sidebar ul li .toctree-l2 .current:hover {
    color: #1A334C;
}

.sidebar ul li .toctree-l3 {
    font-size: smaller;
}

.sidebar ul li .toctree-l3 a {
    padding-left: 36px;
    background-color: #ffffff;
}

.sidebar ul li .toctree-l3 .current {
    font-weight: bold;
}

.sidebar ul > li.toctree-l1:hover {
    background-color: #B9C5D1;
}

#st-search-input {
    margin-left: 26px;
    margin-top: 10px;
    height: 19px;
}

form input.st-search-input {
    font-size: 12px;
    height: 20px;
    color: #666;
    width: 75%;
    border: 1px solid #ccc;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border-radius: 15px;
    -webkit-box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.17);
    -moz-box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.17);
    box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.17);
    outline: none;
    background: #fcfcfc url('../img/search.png') no-repeat 7px 7px;
}

.sidebar form {
    margin: 0;
}

/* =====================================
  Styles for the floating version widget
====================================== */
.version-flyer {
    /*position: fixed;*/
    font-size: 0.9em;
    font-weight: 300;
    line-height: 1;
    float: right;
    /*background: #E8EBED;
    border: 1px solid rgba(26, 51, 76, 0.18);*/
    padding: 0 8px;
    color: #f6f6f6;
    background: rgb(125, 146, 168); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(125, 146, 168, 1) 35%, rgba(60, 92, 124, 1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(35%, rgba(125, 146, 168, 1)), color-stop(100%, rgba(60, 92, 124, 1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(125, 146, 168, 1) 35%, rgba(60, 92, 124, 1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(125, 146, 168, 1) 35%, rgba(60, 92, 124, 1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(125, 146, 168, 1) 35%, rgba(60, 92, 124, 1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(125, 146, 168, 1) 35%, rgba(60, 92, 124, 1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7d92a8', endColorstr='#3c5c7c', GradientType=0); /* IE6-9 */
    border: 1px solid #1A334C;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset rgba(255, 255, 255, 0.17) 0 1px 1px;
    -moz-box-shadow: inset rgba(255, 255, 255, 0.17) 0 1px 1px;
    box-shadow: inset rgba(255, 255, 255, 0.17) 0 1px 1px;
    /* -webkit-transform: rotate(90deg);
     -moz-transform: rotate(90deg);
     -o-transform: rotate(90deg);*/
}

.version-flyer .content {
    margin-top: 7px;
}

.version-flyer .alternative {
    visibility: hidden;
    display: none;
}

.version-flyer .active-slug {
    visibility: visible;
    display: inline-block;
}

.version-flyer:hover .alternative {
    animation-duration: 1s;
    display: inline-block;
    visibility: visible;
}

.version-flyer ul li {
    line-height: 1;

}

.version-flyer ul li a {
    color: #f6f6f6;
    text-decoration: none;
    border-bottom: 1px solid #f6f6f6;
    font-weight: 400;
}

/* =====================================
  Styles for 
====================================== */
h1:hover > a.headerlink,
h2:hover > a.headerlink,
h3:hover > a.headerlink,
h4:hover > a.headerlink,
h5:hover > a.headerlink,
h6:hover > a.headerlink,
dt:hover > a.headerlink {
    visibility: visible;
}

.headerlink {
    font-size: smaller;
    color: #666;
    font-weight: bold;
    float: right;
    visibility: hidden;
}

/* =====================================
  Miscellaneous information
====================================== */

.admonition {
    padding: 8px 35px 8px 14px;
    margin-bottom: 20px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.admonition .admonition-title {
    font-size: 1.3em;
    font-weight: 600;
}

.admonition.warning,
.admonition.danger {
    background-color: #f2dede;
    border: 2px solid #eed3d7;

}

.admonition p {
    margin: 0 0 5px 0;
}

.admonition.warning p,
.admonition.danger p {
    color: #b94a48;
}

.admonition.note {
    background-color: #fcf8e3;
    border: 2px solid #fbeed5;

}

.admonition.note p {
    color: #c09853;
}

.admonition.todo {
    background-color: #d9edf7;
    border: 2px solid #bce8f1;
}

.admonition.todo p {
    color: #3a87ad;
}

.admonition.seealso {
    background-color: #dff0d8;
    border: 2px solid #d6e9c6;
}

.admonition.seealso p {
    color: #468847;
}

.brand-logo img {
    margin-top: 4px;
}

.main-content h1 {
    padding-bottom: 9px;
    border-bottom: 1px solid #D4DBE2;
    color: #485C70;
    margin-top: 20px;
    font-size: 2.5em;
    font-weight: 500;
}

h2 {
    margin-top: 20px;
    font-size: 2em;
    font-weight: 500;
    color: #5F7082;
    padding-bottom: 8px;
    border-bottom: 1px solid #D4DBE2;
}

h3 {
    font-size: 1.5em;
    font-weight: 500;
    color: #5F7082;
    padding-bottom: 7px;
    border-bottom: 1px solid #D4DBE2;
    margin-top: 20px;
}

.main-content img {
    border: 1px solid #D4DBE2;
    border-radius: 4px;
}

.main-content img:first-child {
    /* background: #1A334C;
     display: block;
     margin: 0 auto;
     padding: 20px 180px;
     border: none;
     border-radius: 0;*/
}

tt {
    background: rgba(26, 51, 76, 0.15);
    padding: 0 5px;
    border-radius: 4px;
    border: 1px solid rgba(26, 51, 76, 0.18);
    box-shadow: inset 0 0 1px #000 )
}

a {
    color: #33A0D6;
}

.navbar .brand {
    padding: 0;
}

@media (max-width: 767px) {

    .titlebar,
    #footer {
        margin-right: -20px;
        margin-left: -20px;
        padding-right: 5px;
        padding-left: 5px;
    }
}

@media (max-width: 979px) {

    .titlebar {
        margin-top: -20px;
    }

    .navbar {
        padding-right: 8px;
        padding-left: 8px;
    }

}

.navbar .btn-navbar,
.nav-collapse .nav > li > a:hover {
    background-color: #264a6e;
}

.navbar .btn-navbar:hover {
    background-color: #15293D;
}

.navbar .btn-navbar .icon-bar {
    background-color: #A8B7C5;
}

.navbar .btn-navbar {
    background-image: none;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: transparent;
}

.table th {
    font-weight: 600;
    text-transform: uppercase;
    color: #485C70;
}

.table tr {
    color: #485C70;
}

.tooltip-inner {
    background-color: rgba(26, 51, 76, 0.8);
    padding: 4px;
}

.tooltip.left .tooltip-arrow {
    border-left-color: rgba(26, 51, 76, 0.8);
}

