<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
<!--<meta name="google-site-verification" content="foobar" /> -->
    <title>{{ meta['title'] if meta and meta['title'] else title }} - Open Mustard Seed Documentation</title>
    <meta name="description" content="{{ meta['description'] if meta }}" />
    <meta name="keywords" content="{{ meta['keywords'] if meta }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {%- set url_root = pathto('', 1) %}
    {%- if url_root == '#' %}{% set url_root = '' %}{% endif %}

    <script type="text/javascript">
        // This is included here for Javascript that doesn't have access to the templates.
        var doc_version = "{{ current_version }}";
        var doc_slug = "{{ slug }}";
    </script>

    {%- set css_files = css_files + ['_static/css/bootstrap.css'] %}
    {%- set css_files = css_files + ['_static/css/bootstrap-responsive.css'] %}
    {%- set css_files = css_files + ['_static/pygments.css'] %}
    {%- set css_files = css_files + ['_static/css/main.css'] %}

    {%- set script_files =
    ['//code.jquery.com/jquery-1.10.1.min.js']
    + ['//fonts.googleapis.com/css?family=Cabin:400,700,400italic']
    %}

    {#
        This part is hopefully complex because things like |cut '/index/' are not available in spinx jinja
        and will make it crash. (and we need index/ out.
    #}
    <link rel="canonical" href="http://docs.openmustardseed.org/en/latest/
    {%- for word in pagename.split('/') -%}
        {%- if word != 'index' -%}
            {%- if word != '' -%}
                {{ word }}/
            {%- endif -%}
        {%- endif -%}
    {%- endfor -%}
    ">

    {%- for cssfile in css_files %}
    <link rel="stylesheet" href="{{ pathto(cssfile, 1) }}" type="text/css" />
    {%- endfor %}

    {%- for scriptfile in script_files if scriptfile != '_static/jquery.js' %}
    <script type="text/javascript" src="{{ pathto(scriptfile, 1) }}"></script>
    {%- endfor %}
    <link rel="shortcut icon" href="{{ pathto('_static/favicon.png', 1) }}"/>
    {%- block extrahead %}{% endblock %}

</head>

<body>

<div id="wrap">
<div class="navbar navbar-fixed-top ">
    <div class="navbar-oms">
        <div class="container">

            <div style="float: right" class="pull-right">
                <ul class="nav">
                    <li id="nav-introduction"><a href="http://wiki.idhypercubed.org/" title="OMS Wiki Home">Home</a></li>
                    <li id="nav-documentation" class="active"><a href="http://docs.openmustardseed.org/en/latest/">Documentation</a></li>
                    <li id="nav-about-id3"><a href="http://www.idcubed.org/about/vision-mission/" title="IDCubed">About ID3</a></li>
                    <li id="nav-blog"><a href="http://www.idcubed.org/" title="IDCubed Blog">ID3 Blog</a></li>
                </ul>
            </div>

            <div class="brand-logo">
                <a href="http://wiki.idhypercubed.org" title="OMS Wiki Home"><img src="{{ pathto('_static/img/oms-top-logo.png', 1) }}" alt="OMS/logo"></a>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="span12 titlebar">
            <div class="pull-right" id="fork-us" style="margin-top: 16px; margin-right: 16px;">
                <a  href="https://github.com/IDCubed/oms-docs/blob/master/docs/sources/{{ pagename }}.rst"><img src="{{ pathto('_static/img/fork-us.png', 1) }}"> Edit this page on Github</a>
            </div>
            <h1 class="pageheader">
                documentation
            </h1>
        </div>
    </div>
</div>
<div class="container">

    <!-- Docs nav
     ================================================== -->
    <div class="row main-row">

        <div class="span3 sidebar bs-docs-sidebar">
           <!-- <div class="page-title" >
                <h4>DOCUMENTATION</h4>
            </div>-->
            
            {{ toctree(collapse=False, maxdepth=3) }}
	    <form>
	      <input type="text" id="st-search-input" class="st-search-input span3" style="width:160px;" />
          <div id="st-results-container"></div>
	    </form>
        </div>

        <!-- body block -->
        <div class="span9 main-content">

            <!-- Main section
            ================================================== -->
            <section id="global" class="containerblock">
                {% block body %}{% endblock %}
            </section>

            <div class="pull-right"><a href="https://github.com/IDCubed/oms-docs/blob/{{ current_version }}/sources/{{ pagename }}.rst" title="edit this article">Edit this article on GitHub</a></div>
        </div>
    </div>
</div>

<div id="push-the-footer"></div>
</div> <!-- end wrap for pushing footer -->

<div id="footer">
    <div class="footer-landscape">
        <div class="footer-landscape-image">
            <!-- footer -->
            <div class="container">
                <div class="row footer">
                    <div class="span12 tbox">
                        <div class="tbox">
                            <p>Open Mustard Seed is an open source project, sponsored by  <a href="http://www.idcubed.org">IDCubed</a>, under the <a href="https://github.com/IDCubed/oms-core/blob/master/LICENSE" title="ID3 licence, hosted in the Github repository">ID3 MIT license</a></p>
                        </div>

                        <div class="tbox version-flyer ">
                            <div class="content">
                                <small>Current version:</small>
                                <ul class="inline">
                                    {% for slug, url in versions %}
                                    <li class="alternative"><a href="{{ url }}{%- for word in pagename.split('/') -%}
                                        {%- if word != 'index' -%}
                                            {%- if word != '' -%}
                                                {{ word }}/
                                            {%- endif -%}
                                        {%- endif -%}
                                    {%- endfor -%}"
                                    title="Switch to {{ slug }}">{{ slug }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
        <!-- end of footer -->
    </div>
</div>


<script type="text/javascript" src="{{ pathto('_static/js/docs.js', 1) }}"></script>

<!-- Swiftype search -->
<!--
<script type="text/javascript">
  var Swiftype = window.Swiftype || {};
  (function() {
  Swiftype.key = 'fooooo';
  Swiftype.inputElement = '#st-search-input';
  Swiftype.resultContainingElement = '#st-results-container';
  Swiftype.attachElement = '#st-search-input';
  Swiftype.renderStyle = "overlay";

  var script = document.createElement('script');
  script.type = 'text/javascript';
  script.async = true;
  script.src = "//swiftype.com/embed.js";
  var entry = document.getElementsByTagName('script')[0];
  entry.parentNode.insertBefore(script, entry);
  }());
</script>
-->

<!-- Google analytics -->
<!--
<script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'foobar']);
    _gaq.push(['_setDomainName', 'foobar.org']);
    _gaq.push(['_setAllowLinker', true]);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

</script>
-->

</body>
</html>
